{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "indentation": 4,
    "rule-empty-line-before": "always",
    "at-rule-empty-line-before": "always",
    "property-disallowed-list": ["flex"],
    "unit-disallowed-list": ["em", "rem"],
    "order/order": [
      "declarations",
      {
        "type": "at-rule",
        "name": "media"
      },
      {
        "type": "rule",
        "selector": "^&::before"
      },
      {
        "type": "rule",
        "selector": "^&::after"
      },
      {
        "type": "rule",
        "selector": "^&:\\w"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      {
        "type": "rule",
        "selector": "^."
      }
    ],
    "order/properties-order": [
      [
        {
          "emptyLineBefore": "always",
          "properties": [
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "z-index"
          ]
        },
        {
          "emptyLineBefore": "always",
          "properties": [
            "box-sizing",
            "display",
            "float",
            "width",
            "height",
            "margin",
            "padding"
          ]
        },
        {
          "emptyLineBefore": "always",
          "properties": [
            "color",
            "font",
            "font-size",
            "line-height",
            "text-align"
          ]
        },
        {
          "emptyLineBefore": "always",
          "properties": [
            "background-color",
            "border",
            "border-radius",
            "opacity"
          ]
        },
        {
          "emptyLineBefore": "always",
          "properties": ["transition"]
        },
        {
          "emptyLineBefore": "always",
          "properties": ["user-select"]
        }
      ],
      {
        "unspecified": "bottom",
        "emptyLineBeforeUnspecified": "always"
      }
    ]
  }
}
