.div-wrapper {
    content: '';

    display: flex;
    width: 100%;

    font-size: 30px;

    background-color: brown;

    justify-content: space-around;
}

.first-div {
    content: '';

    top: 0;
    right: 0;
    left: 0;

    display: block;
    width: 100px;
    width: auto;
    height: 300px;

    font-size: 20px;

    background-color: black;
    bottom: 0;
}

.second-div {
    position: static;
    top: 0;
    right: 0;
    left: 0;

    display: block;
    width: 300px;
    height: 300px;

    font-size: 21px;

    background-color: green;
    bottom: 0;

    cursor: pointer;

    transform: none;
}
