.div-wrapper {
  display: flex;

  justify-content: space-around;
  font-size: 30px;
  background-color: brown;
  width: 100%;
}

.first-div {
  height: 300px;
  bottom: 0;
  font-size: 10px;
  top: 0;
  right: 0;
  left: 0;
  width: 100px;
  background-color: black;
  display: block;
}

.second-div{
  display: block;
  height: 300px;
  font-size: 10rem;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 300px;
  background-color: green;
}
